<p>controlstructures works!</p>


<h1 class="wd1">Welcome to Directives</h1>

<!-- <h1  *ngIf="5 > 3">Hi I am Trainer</h1> -->

<h1  *ngIf="true">Hi I am Parth Gurval</h1>


<!-- <table border="1">

  <tr  *ngFor="let emp of employees" >   <td>{{emp.id}}</td> <td>{{emp.ename}}</td><td>{{emp.salary}}</td>   </tr>


</table> <br> -->

<table border="1">

  <tr  *ngFor="let mycar of cars" >
    
    <td>{{mycar.car_id}}</td> 
    
    <td>{{mycar.car_comapny}}</td>
    
    <td>{{mycar.car_model}}</td>   

    <td>{{mycar.car_price}}</td>  

    <td>{{mycar.car_registred}}</td>  
  
  </tr>
  
</table> <br>


<!-- Input field to enter car ID -->
<label for="carId">Enter Car ID:</label>
<input type="number" id="carId" [(ngModel)]="enteredCarId" (input)="findCarById()"> <br><br>

<!-- Display the car data if a matching car is found -->
<div *ngIf="selectedCar">
  <h2>Car Details</h2>
  <p><strong>Car ID:</strong> {{selectedCar.car_id}}</p>
  <p><strong>Car Company:</strong> {{selectedCar.car_comapny}}</p>
  <p><strong>Car Model:</strong> {{selectedCar.car_model}}</p>
  <p><strong>Car Price:</strong> {{selectedCar.car_price}}</p>
  <p><strong>Car Registered:</strong> {{selectedCar.car_registred ? 'Yes' : 'No'}}</p>
</div>

<!-- Display message if no car is found with the entered ID -->
<div *ngIf="!selectedCar && enteredCarId">
  <p>No car found with ID {{enteredCarId}}</p>
</div>

<label for="number1"> Enter Value of Num-1:</label> <br>
<input type="number" name="num1" id="num1" [(ngModel)]="num1"> <br>

<label for="number2"> Enter Value of Num-2:</label> <br>
<input type="number" name="num2" id="num2" [(ngModel)]="num2"> <br>

<div *ngIf=" num1 > num2">

  num1 ({{num1}}) is greader than num2 ({{num2}})...!

</div>
<div *ngIf=" num2 > num1">

  num2 ({{num2}}) is greader than num1 ({{num1}})...!

</div>
<div *ngIf="num1 == num2">

  num1 ({{num1}}) and num2 ({{num2}}) are equal...!

</div>


