<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="MyVehicleController" method="post">
    Vehicle ID: <input type="text" name="vehicleId"><br>
    Vehicle Type: <input type="text" name="vehicleType"><br>
    Model Name: <input type="text" name="modelName"><br>
    Purchase Date: <input type="date" name="purchaseDate"><br>
    Vehicle Number: <input type="text" name="vehicleNumber"><br>
    Vehicle Age: <input type="number" name="vehicleAge"><br>
    Owner Name: <input type="text" name="ownerName"><br>
    Purchase Cost: <input type="number" step="0.01" name="purchaseCost"><br>
    Current Cost: <input type="number" step="0.01" name="currentCost"><br>
    In Use: <input type="checkbox" name="isInUse"><br>
    <button type="submit" name="action" value="add">Add Vehicle</button>
</form>

</body>
</html>